<?xml version="1.0"?>
<config>
  <modules>
    <Trendmarke_WidgetSingle>
      <version>0.1.0</version>
    </Trendmarke_WidgetSingle>
  </modules>
  <global>
    <helpers>
      <widgetsingle>
        <class>Trendmarke_WidgetSingle_Helper</class>
      </widgetsingle>
    </helpers>
	<blocks>
	  <widgetsingle>
		<class>Trendmarke_WidgetSingle_Block</class>
	  </widgetsingle>
	</blocks>
  </global>
</config> 